<div class="has-text-centered">
  <h1 class="title">Mi Proyecto de Prácticas</h1>
</div>
<div class="tile is-ancestor mt-6">
  <div class="tile is-4 mb-6">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas por realizar</h4>
        <a href="tasks/add?state=1" class="card-header-icon plus" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="toDo">

          {{#each dividers}}
          <div class="divider" data-id="{{id}}" id="divider">
            <a href="/dividers/delete/{{id}}" class="delete"></a>
            <a href="/dividers/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="card-header has-background-{{color}}">
              <p class="card-header-title has-text-white is-centered">
                {{title}}
              </p>
            </div>  
          </div>
          {{/each}}

          {{#each toDo}}
          <div class="content tasks" data-id="{{id}}">
            <a href="/tasks/delete/{{id}}" class="delete"></a>
            <a href="/tasks/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="box">
              <p class="title is-6">{{title}}</p>
              <p>{{desc}}</p>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
  
  <div class="tile is-4 mb-6">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas a en progreso</h4>
        <a href="tasks/add?state=2" class="card-header-icon plus" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="inProgress">

          {{#each dividers}}
          <div class="divider" data-id="{{id}}" id="divider">
            <a href="/dividers/delete/{{id}}" class="delete"></a>
            <a href="/dividers/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="card-header has-background-{{color}}">
              <p class="card-header-title has-text-white is-centered">
                {{title}}
              </p>
            </div>  
          </div>
          {{/each}}

          {{#each inProgress}}
          <div class="content tasks" data-id="{{id}}">
            <a href="/tasks/delete/{{id}}" class="delete"></a>
            <a href="/tasks/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="box">
              <p class="title is-6">{{title}}</p>
              <p>{{desc}}</p>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>

  <div class="tile is-4 mb-6">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas a finalizadas</h4>
        <a href="tasks/add?state=3" class="card-header-icon plus" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="completed">

          {{#each dividers}}
          <div class="divider" data-id="{{id}}" id="divider">
            <a href="/dividers/delete/{{id}}" class="delete"></a>
            <a href="/dividers/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="card-header has-background-{{color}}">
              <p class="card-header-title has-text-white is-centered">
                {{title}}
              </p>
            </div>  
          </div>
          {{/each}}

          {{#each completed}}
          <div class="content tasks" data-id="{{id}}">
            <a href="/tasks/delete/{{id}}" class="delete"></a>
            <a href="/tasks/{{id}}/edit">
              <span class="icon edit">
              <i class="fas fa-edit"></i>
              </span>
            </a>
            <div class="box">
              <p class="title is-6">{{title}}</p>
              <p>{{desc}}</p>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.js"></script>
<script type="module" src="/js/dragAndDrop.js"></script>